root = true

[*]
charset = utf-8
indent_style = space
end_of_line = lf
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{lua,yaml,yml}]
indent_size = 2

[{Makefile,*.mk}]
indent_style = unset

[Makefile.win]
end_of_line = crlf
indent_style = unset
